@tailwind base;

@tailwind components;

@import url('https://p.typekit.net/p.css?s=1&k=lnn7pdm&ht=tk&f=24561.24563.28726.28901&a=17658617&app=typekit&e=css');

@font-face {
  font-family: 'filson-pro';
  src: url('https://use.typekit.net/af/c12453/0000000000000000000157bf/27/l?subset_id=2&fvd=n7&v=3') format('woff2'),
    url('https://use.typekit.net/af/c12453/0000000000000000000157bf/27/d?subset_id=2&fvd=n7&v=3') format('woff'),
    url('https://use.typekit.net/af/c12453/0000000000000000000157bf/27/a?subset_id=2&fvd=n7&v=3') format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'filson-pro';
  src: url('https://use.typekit.net/af/c37133/0000000000000000000157c1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c37133/0000000000000000000157c1/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c37133/0000000000000000000157c1/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'vista-slab';
  src: url('https://use.typekit.net/af/c545b1/00000000000000003b9add0a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c545b1/00000000000000003b9add0a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c545b1/00000000000000003b9add0a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'roboto-mono';
  src: url('https://use.typekit.net/af/d4fbe0/00000000000000003b9ade4b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/d4fbe0/00000000000000003b9ade4b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/d4fbe0/00000000000000003b9ade4b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

.font-filson-pro {
  font-family: 'filson-pro', sans-serif;
}
.font-vista-slab {
  font-family: 'vista-slab', serif;
}
.font-roboto-mono {
  font-family: 'roboto-mono', monospace;
}

.subnavigation {
  &:hover > a {
    @apply border-solid text-ultralight-turquois border-turquois border-b-3;
  }

  &:hover .subnavigation-content {
    display: flex;
  }
}

.full-box.apply-py {
  > div:first-of-type {
    @apply pt-12;
  }

  > div:last-of-type {
    @apply pb-12;
  }
}

.footer {
  p {
    font-size: 1rem !important;
  }

  a {
    color: #fff !important;
  }
}

.markdown {
  @apply text-xl font-filson-pro;

  &.h1-white > h1 {
    @apply text-white;
  }

  &.h2-white > h2 {
    @apply text-white;
  }

  &.h3-white > h3 {
    @apply text-white;
  }

  &.h4-white > h4 {
    @apply text-white;
  }

  &.h5-white > h5 {
    @apply text-white;
  }

  &.h1-black > h1 {
    @apply text-black;
  }

  &.h2-black > h2 {
    @apply text-black;
  }

  &.h3-black > h3 {
    @apply text-black;
  }

  &.h4-black > h4 {
    @apply text-black;
  }

  &.h5-black > h5 {
    @apply text-black;
  }

  &.h1-turquois > h1 {
    @apply text-turquois;
  }

  &.h2-turquois > h2 {
    @apply text-turquois;
  }

  &.h3-turquois > h3 {
    @apply text-turquois;
  }

  &.h4-turquois > h4 {
    @apply text-turquois;
  }

  &.h5-turquois > h5 {
    @apply text-turquois;
  }

  p {
    a {
      @apply text-turquois;
    }
  }

  ul {
    li {
      @apply mb-2;
    }
  }

  .inline-markdown {
    display: inline !important;
  }
}

.google-map {
  .infoBox {
    p {
      font-size: 1rem !important;
    }
  }
}

.recaptcha {
  > div {
    > div {
      margin: 0 auto;
    }
  }
}

body,
html {
  font-family: 'filson-pro', sans-serif;
}

@tailwind utilities;
